<!--
    This Is the line which is used to specify that this template page inherits from the "base..html"
    Notice that the path is relative to the "templates" folder
-->
{% extends "blog/base.html" %}


<!-- 
    This is the block that is over written by this child template
 -->
{% block content %}
    <!-- main content section -->
    <div class = "content-section">
        <!-- media class  -->
        <div class="media">
            <!-- profile pic  -->
            <img class="rounded-circle account-img" src= "{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class = "account-heading">{{ user.username }}</h2>
                <p class = "d-inline-block text-truncate">{{ user.email }}</p>
            </div>
        </div>

    </div>
{% endblock content %}